<div class="menu-container mt-4">
  <ul class="list-unstyled">
    <li class="mb-2">
      <a routerLink="/blogs" routerLinkActive="active" class="menu-item">List</a>
    </li>
    <li class="mb-2">
      <a routerLink="/blogs/new" routerLinkActive="active" class="menu-item">New</a>
    </li>
    <li class="mb-2">
      <a routerLink="/blogs/search" routerLinkActive="active" class="menu-item">Search</a>
    </li>
    <li class="mb-2">
      <a routerLink="/blogs" class="menu-item">Edit</a>
    </li>
  </ul>
</div>

<!--menu-container: CSS để bao bọc menu.-->

<!--mt-4: margin-top=> căn lề trên-->

<!--list-unstyled: Loại bỏ các dấu chấm mặc định của danh sách <ul>. -->

<!--  mb-2: margin-bottom => tạo khoảng cách nhỏ giữa các dòng menu -->
