<div class="list-group list-group-flush shadow-sm">
  <a routerLink="/blogs" routerLinkActive="active" class="list-group-item list-group-item-action py-3 text-center fw-bold">
    Product List
  </a>

  <a routerLink="/blogs/new" routerLinkActive="active" class="list-group-item list-group-item-action py-3 text-center fw-bold">
    New Product
  </a>

  <a routerLink="/blogs/search" routerLinkActive="active" class="list-group-item list-group-item-action py-3 text-center fw-bold">
    Search
  </a>

  <a routerLink="/orders" routerLinkActive="active" class="list-group-item list-group-item-action py-3 text-center fw-bold">
    Orders Management
  </a>
</div>
